python -m pip install numpy            # latest version
python -m pip install scipy            # latest version
python -m pip install pandas            # latest version
python -m pip install streamlit    # specific version
